.cover__link {
  text-decoration: none;
  color: #ffffff;
  max-width: 1184px;
  height: calc((100vw - 96px) * 0.625);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 351px) and (max-width: 1080px) {
  .cover__link {
    width: 100%;
    height: calc(100vw * 0.625);
  }
}

@media screen and (max-width: 350px) {
  .cover__link {
    width: 100%;
    min-height: 200px;
  }
}
