.place__title {
  margin:0;
  padding:0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}


@media screen and (min-width: 840px) and (max-width: 900px){
  .place__title{
    font-size: 65px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 758px) and (max-width: 839px){
  .place__title{
    font-size: 50px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 721px) and (max-width: 758px){
  .place__title{
    font-size: 42px;
    line-height: 1.1;
  }
  }
@media screen and (min-width: 450px) and (max-width: 720px) {
  .place__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 449px) {
  .place__title {
    margin-left: 16px;
    font-size: 32px;
    margin-bottom: 32px;
  }
}
