.photo-grid {
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 671px;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-template-rows: repeat(auto-fit, 213px);
    gap: 16px;
}



@media screen and (min-width: 1024px) and (max-width: 1050px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(auto-fit, 225px);
        gap: 14px;
        min-height: 942px;
        justify-content: normal;
        margin: 0 48px 0 48px;
    }
}
@media screen and (min-width: 1006px) and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(auto-fit, 225px);
        gap: 14px;
        min-height: 942px;
        justify-content: normal;
        margin: 0 38px 0 38px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1005px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, 352px);
        grid-template-rows: repeat(auto-fit,264px);
        min-height: 1664px;
        justify-content: normal;
        margin:0 35px 0 35px;
    }
}
@media screen and (min-width: 768px) and (max-width: 799px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, 352px);
        grid-template-rows: repeat(auto-fit,264px);
        min-height: 1664px;
        justify-content: normal;
        margin:0 24px 0 24px;
    }
}
@media screen and (min-width: 700px) and (max-width: 767px) {
    .photo-grid {
        min-height: 1664px;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(auto-fit,250px);
        justify-content: normal;
        margin:0 20px 0 20px;

    }
}
@media screen and (max-width: 449px) {
    .photo-grid {
        display:block;
        justify-content: normal;
        margin:0 16px 0 16px;
    }
}