.header__link {
  margin: 0;
  padding: 0;
  padding-top: 18px;
  color: #ffffff;
  margin-right: 18px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.15;
  text-decoration: none;
}

.header__link:nth-child(2) {
  margin-right: 0;
}

.header__link:hover {
  opacity: 0.8;
  transition: 1s;
}

@media screen and (max-width: 320px) {
  .header__link {
    font-size: 18px;
    line-height: 1.11;
  }
}

@media screen and (min-width: 321px) and (max-width: 418px) {
  .header__link {
    font-size: 22px;
  }
}