.logo {
  max-Width: 176px;
  Height: 52px;
}

@media screen and (max-width: 320px) {
  .logo {
    max-width: 142px;
    height: 42px;
  }
}

@media screen and (min-width: 321px) and (max-width: 418px){
    .logo {
      max-width: 162px;
      height: 42px;
    }
}