.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  padding-right: 18px;
}
.footer__list:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 514px) {
  .footer__list {
    padding-top: 32px;
    display: block;
  }
  .footer__list:first-of-type {
    padding-top: 0;
  }
}