.place {
  display: grid;
  width: 100%;
  grid-template-columns: calc((100% - 40px) * 0.49) calc((100% - 40px) * 0.51);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin: 0 0 80px;
  padding: 0;
}

@media screen and (width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-column-gap: 32px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1023px) {
  .place {
    grid-template-columns: calc((100% - 32px) * 0.49) calc((100% - 32px) * 0.51);
    grid-column-gap: 32px;
  }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
  .place {
    grid-template-columns: calc((100% - 30px) * 0.5) calc((100% - 30px) * 0.5);
    grid-column-gap: 30px;
  }
}

@media screen and (width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-column-gap: 28px;
    margin: 0 0 73px;
  }
}

@media screen and (min-width: 721px) and (max-width: 767px) {
  .place {
    grid-template-columns: calc((100% - 28px) * 0.498) calc((100% - 28px) * 0.502);
    grid-column-gap: 28px;
    margin: 0 0 73px;
  }
}
@media screen and (min-width: 450px) and (max-width: 720px) {
  .place {
    grid-template-columns: calc((100% - 28px) * 0.49) calc((100% - 28px) * 0.51);
    grid-column-gap: 28px;
    margin: 0 0 65px;
  }
}

@media screen and (max-width: 449px) {
  .place {
    display: block;
    margin: 0 0 50px;
  }
}