.footer {
  margin: 92px auto 24px;
  width: 90%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 736px) and (max-width: 780px) {
  .footer {
    margin: 88px 24px 24px;
    width: 93%;
  }
}

@media screen and (min-width: 674px) and (max-width: 735px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 673px) {
  .footer {
    margin: 64px 0 24px 16px;
    display: block;
  }
}